<div class="content">
  <h1>Todo</h1>

  <td class="todo-list">
    @if (loading$ | async) {
      <div class="loader">Loading...</div>
    }

    @if (todos$ | async; as todoDtos) {
      @for (todoDto of todoDtos; track todoDto.id) {
        @let backgroundColor = todoDto.done ? 'green' : '';

        <tr
          [ngStyle]="{ 'background-color': backgroundColor }"
          [id]="'todo-item-' + todoDto.id"
          (touchstart)="onTouchStart($event, todoDto.id)"
          (touchmove)="onTouchMove($event, todoDto.id)"
          (touchend)="onTouchEnd($event, todoDto.id)">
          @if (todoDto.loading) {
            <div class="loader">
              <mat-spinner></mat-spinner>
            </div>
          } @else {
            <div
              class="todo-item"
              (click)="completeTodoToggle(todoDto)">
              @if (todoDto.done) {
                <mat-icon>check</mat-icon>
              }
              <div class="todo-name">
                <h3>{{ todoDto.name }}</h3>
              </div>

              <div class="todo-infos">
                <div class="todo-execution-date">
                  <p>{{ todoDto.lastModified | date: 'dd.MM.yyyy HH:mm' }}</p>
                </div>

                <div class="todo-priority-icons">
                  @if (todoDto.priority >= 1) {
                    !
                  }
                  @if (todoDto.priority >= 2) {
                    !
                  }
                  @if (todoDto.priority >= 3) {
                    !
                  }
                </div>
              </div>
            </div>
            <button
              class="delete-button"
              (click)="deleteTodo(todoDto.id)">
              Delete
            </button>
          }
        </tr>
      }
    }
  </td>
  <div class="add-todo">
    <dialog
      #todoDialog
      (close)="onDialogClose()">
      <div class="dialog-header">
        <button (click)="todoDialog.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <hoa-todo-create-form (closeDialog)="todoDialog.close()"></hoa-todo-create-form>
    </dialog>
    <button (click)="todoDialog.showModal()">Create Todo</button>
  </div>
</div>
