home-todo {
  width: 100%;
}

.todo-list {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 4.3rem;

  tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;

    .loader {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .todo-done-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 3px;
      border-radius: 1.5rem;
      min-height: 1.8rem;
      min-width: 1.8rem;
      margin-right: 0.2rem;
    }

    .todo-item {
      position: relative;
      display: grid;
      align-content: space-between;
      grid-template-columns: max-content 1fr;
      border: solid 1px;
      border-radius: 0.25rem;
      padding: 0.5rem;
      width: 100%;
      height: 3rem;

      home-skeleton {
        grid-column: span 2;
      }

      .todo-title {
        h3 {
          margin: 0;
        }
      }

      .todo-infos {
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        justify-content: space-between;
        height: max-content;
        grid-column: span 2;

        .todo-execution-date {
          p {
            margin: 0;
          }
        }

        .todo-priority-icons {
          width: max-content;
          height: max-content;
        }
      }
    }

    .delete-button {
      border: solid 1px;
      border-radius: 0.25rem;
      background-color: red;
      color: white;
      border: none;
      padding: 10px 2rem;
      cursor: pointer;

      &.swiped {
        display: block;
        transition: right 0.3s ease-in-out;
      }
    }

    button {
      height: 100%;
    }
  }
}

dialog {
  height: max-content;
  width: 95vw;
  padding: 0;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid #676767;
  box-shadow: 2px -2px 3px 2px rgba(0, 0, 0, 0.5);

  .dialog-header {
    display: flex;
    flex-direction: row-reverse;
    background-color: #d3d3d3;
    height: max-content;

    button {
      height: 1.8rem;
      width: 1.8rem;
      padding: 0;
      margin: 0.3rem;
      border: none;
      border-radius: 0.25rem;

      mat-icon {
        height: max-content;
        width: max-content;
        font-size: 1.8rem;
      }
    }
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7); /* Abdunkeln auf 70% */
  transition: background 0.3s ease-in-out; /* Animation für weiche Übergänge */
}

.add-todo {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  button {
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
  }
}
