<div class="content">
  <h1>Todo</h1>

  <td class="todo-list">
    @if (loading()) {
      <div class="loader">Loading...</div>
    }

    @if (todos(); as todos) {
      @for (todoDto of todos; track todoDto.todoId) {
        @let backgroundColor = todoDto.done ? 'green' : '';

        <tr [id]="'todo-item-' + todoDto.todoId">
          <div class="todo-done-icon">
            @if (todoDto.done) {
              <mat-icon>check</mat-icon>
            }
          </div>
          <div
            class="todo-item"
            [ngStyle]="{ 'background-color': backgroundColor }"
            (click)="completeTodoToggle(todoDto)">
            @if (todoDto.isLoading) {
              <hoa-skeleton></hoa-skeleton>
            } @else {
              <div class="todo-title">
                <h3>{{ todoDto.title }}</h3>
              </div>
            }
            @if (todoDto.isLoading) {
              <hoa-skeleton></hoa-skeleton>
            } @else {
              <div class="todo-infos">
                <div class="todo-execution-date">
                  <p>{{ todoDto.lastModified | date: 'dd.MM.yyyy HH:mm' }}</p>
                </div>

                <div class="todo-priority-icons">
                  @if (todoDto.priority >= 1) {
                    !
                  }
                  @if (todoDto.priority >= 2) {
                    !
                  }
                  @if (todoDto.priority >= 3) {
                    !
                  }
                </div>
              </div>
            }
          </div>
          <button
            class="delete-button"
            (click)="deleteTodo(todoDto.todoId)">
            Delete
          </button>
        </tr>
      }
    }
  </td>
  <div class="add-todo">
    <dialog
      #todoDialog
      (close)="onDialogClose()">
      <div class="dialog-header">
        <button (click)="todoDialog.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <hoa-todo-create-form (closeDialog)="todoDialog.close()"></hoa-todo-create-form>
    </dialog>
    <button (click)="todoDialog.showModal()">Create Todo</button>
  </div>
</div>
